@font-face {
  font-family: 'Geist Mono';
  src: url('./assets/fonts/GeistMono[wght].woff2');
  font-display: swap;
  font-weight: 100 900;
}

:root {
  --font-family: 'Geist Mono';
  --font-size: 12px;
  --font-weight: 350;
  --font-weight-bold: 450;
  --line-height: 1.7;
}

* {
  font-family: var(--font-family), Arial, Helvetica, sans-serif;
  font-size: var(--font-size);
  font-weight: var(--font-weight);
}